<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
    <div class = "header-menuns">
      <h2>
        todo list
      </h2>
      <div class = "logout">
        <%if @current_user %>
          <%=link_to("logout" , "/logout" ,data: {"turbo-method": :post })%>
          <%=@tatal_done %>
        <% else %>
          <%=link_to("top" , "/" )%>
        <% end %>
      </div>
    </div>
    </header>
      
            

    <%= yield %>
  </body>
</html>
